* {
    margin: 0;
    padding: 0;
    animation: fadein 2s;
    
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(space-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
/*header*/
header .container
{
    min-height: 40px;
    width: auto;
    margin-left: 0;
    background-color: black;
    padding: 20px;
    font-family: boulevard;
    margin-top: 0;
}

.title {
    float: left;
    color: white;
    font-size: 30px;
    margin: 0 0 0 50px;
    display: inline-block;
    padding: 0;
    font-family: earth orbiter;
}


header a {
    color: white;
    text-decoration: none;
    
}

header ul {
    margin-top: 0;
    padding: 0;
    width: 1000px;
    height: 40px;
    margin-left: 500px;
}

header li {
    float: left;
    display: inline-block;
    margin: 5px 50px 0 60px;
    
}

header a:hover {
    color: darkgrey;
}

/*images*/
.images{
    margin: 5px;
    text-align: center;
}
img {
    margin: 0px;
    padding: 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform .3s;
    border: 2px;
    border-color: white;
}

img:hover{
    transform: scale(1.5); 
    
}